@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{

    background-color: black;
    
}
.section
{
    
    
    width: 100%;
    height: 100vh;
    
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.video-container
{
    align-items:left;
    position: absolute;
    top: 8vh;
    left:0;
    width: 100%;

}
header
{ align-items:left;
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: left;
    transition: 0.5s;
}
header.sticky
{
    display: flex;
    background-color: black;
    
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}


header  ul li
{
    position: relative;
    list-style: none;


}
header ul li a
{ 
    position: relative;
    display: inline-block;

    color:white;
    text-decoration: none;
}
.heading
{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    
}
header h2{
    font-weight: 600;
    justify-content: space-between;
    color: blue;
}

.content
{   color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;

}
.contentBx
 
{  color: teal;
    
    padding-left: 10rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    
}
.w50
{   background-color: black;
    padding-right: 8rem;
    
}
.Academics
{  
    background-color: teal;
    text-align:center;

    display: flex;
    flex-direction:column;
    justify-content: space-between;

}
.col-sm1:hover,.col-sm2:hover{
    color:white;
}
.Skills

{ 

    display: flex;
    flex-direction:column;
   padding-right: 4rem;
    align-items: center;
    background-color:#111;
}
.Skills h1{
    
    font-size: 4rem;
    font-weight: 700;
}
.Skills:hover
{
background: white;
}
.Academics:hover
{
background: gray;
}
.Academics:hover
{
background: gray;
}
.contact
{
background-color: #111;

}
.contact:hover
{
background: brown;
}
.formbx
{
    min-width: 60%;
}
.formbx form
{
display: flex;
flex-direction: column;
}
.formbx form h3
{
    color:#fff;
    font-size:20px;
    font-weight:500 ;
    margin-bottom: 10px;

}
.formbx form input,
.formbx form textarea
{
    margin-bottom:20px ;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border:none ;
    outline: none;
    background: #222;
    color: white;
    padding-right: 7px;

}
.formbx form textarea
{
    min-height: 200px;
}
.formbx form input::placeholder,
.formbx form textarea::placeholder
{
    color: #999;
}
